@page
@model IndexModel
@using GyroScope.Data
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gyro Scope</h1>
    <p>When the planets align!</p>

    <div id="filters">
        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search" />
        </div>
    </div>

    <h4>
        @foreach (String itemType in GyroScope.Data.Menu.Type)
        {
            <label>
                <input type="checkbox" name="Item Type" value="@itemType" checked="@Model.Type.Contains(itemType)" />
                @itemType
            </label>
        }
    </h4>

    <h4>Calories</h4>
    <div>
        Between
        <input name="MinCalories" type="number" min="0" max="10000" step="1" placeholder="min" />
        and
        <input name="MaxCalories" type="number" min="0" max="10000" step="1" placeholder="max" />
    </div>

    <h4>Price</h4>
    <div>
        Between
        <input name="MinPrice" type="number" min="0" max="10000" step="0.1" placeholder="min" />
        and
        <input name="MaxPrice" type="number" min="0" max="10000" step="0.1" placeholder="max" />
    </div>


    <h2>Entrees</h2>
    @foreach (var item in Menu.Entrees)
    {
        <div class="menu-item">
            <p>@item.Name</p>
            <p>Price: @item.Price</p>
            <p>Calories: @item.Calories</p>
        </div>
    }

    <h2>Sides</h2>
    @foreach (var item in Menu.Sides)
    {
        <div class="menu-item">
            <p>@item.Name</p>
            <p>Price: @item.Price</p>
            <p>Calories: @item.Calories</p>
        </div>
    }

    <h2>Drinks</h2>
    @foreach (var item in Menu.Drinks)
    {
        <div class="menu-item">
            <p>@item.Name</p>
            <p>Price: @item.Price</p>
            <p>Calories: @item.Calories</p>
        </div>
    }

    <h2>Treats</h2>
    @foreach (var item in Menu.Treats)
    {
        <div class="menu-item">
            <p>@item.Name</p>
            <p>Price: @item.Price</p>
            <p>Calories: @item.Calories</p>
        </div>
    }
</div>
